<div class="bg">
  <%= image_tag ("surfboards.jpg") %>
</div>

<div class="navbar">
  <div class="logo">

  </div>
</div>

<div class="container">
  <h1>Welcome on SurfBoard</h1>
  <h1>Rent a board</h1>
  <div class="menu">

  </div>
  <div class="list">

  </div>

</div>

<div class="map">

</div>
